.hero {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include tablet {
    margin-bottom: 100px;
  }

  .hero__banner {
    @include tablet {
      display: flex;
      margin-bottom: 161px;

      @include desktop {
        margin-bottom: 209px;
      }
    }
  }

  .hero__container {
    @include tablet {
      margin: 0 27px;
      @include desktop {
        margin-top: 64px;
      }
    }
  }

  .hero__mobile {
    width: 410px;
    height: 233px;
    margin: 0 35px 37.5px 0;
    line-height: 40px;

    @include tablet {
      display: none;
    }
  }

  .hero__left {
    display: none;
    @include tablet {
      overflow: hidden;
      display: inherit;
    }
    @include desktop {
      width: 408px;
      height: 459px;
      overflow: visible;
    }
  }

  .hero__squiggle {
    display: none;
    @include tablet {
      display: inherit;
      position: absolute;
      width: 386px;
      height: 268px;
      margin-left: 80px;
      top: 130px;

      @include desktop {
        width: 544.31px;
        height: 377.98px;
        top: 200px;
        margin-left: 10%;
      }
    }
  }

  h1 {
    font-size: 32px;
    text-align: center;
    #break {
      display: none;
    }
    span {
      color: $primary-color;
    }

    @include tablet {
      margin: 0 10px;
      @include desktop {
        font-size: 48px;
        line-height: 56px;
      }
    }
  }

  p {
    margin: 24px 24px 32px;
    font-size: 15px;
    line-height: 25px;
    align-items: center;
    justify-content: center;
    text-align: center;

    @include tablet {
      margin: 24px 10px 32px;
      @include desktop {
        margin: 24px 10px 64px;
      }
    }
  }

  .hero__right {
    display: none;
    @include tablet {
      display: inherit;
      overflow: hidden;
    }
    @include desktop {
      width: 396px;
      height: 444px;
      overflow: visible;
    }
  }

  .hero__scroll {
    width: 26px;
    height: 42px;
    margin: 0 175px 144px 174px;

    @include tablet {
      margin-bottom: 0;
      flex-direction: column;
      margin-top: -100px;
      @include desktop {
        margin-top: -320px;
        padding-bottom: 209px;
      }
    }
  }
}
