.illustrations {
  display: flex;
  flex-direction: column;

  @include tablet {
    .in {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      text-align: left;
      padding-left: 80px;
    }

    .out {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      text-align: left;
      padding-right: 80px;
    }
    @include desktop {
      flex-direction: row;
      margin: 0 165px;
      align-items: center;
      justify-content: center;
      .in {
        flex-direction: column;
        padding-left: 0;
        justify-content: center;
      }

      .out {
        flex-direction: column;
        justify-content: center;
        margin-top: 110px;
        padding-right: 0;
      }
    }
  }

  div {
    text-align: center;
    @include tablet {
      text-align: left;
      margin-left: 0;
    }

    img {
      background-color: $secondary-color;
      border-radius: 43px;
      margin: 56px 128px 32px;

      @include tablet {
        margin-top: inherit;
        margin-left: 0;
        @include desktop {
          margin: 0 0 48px -70px;
        }
      }
    }

    h4 {
      font-size: 18px;
      margin: 0 24px;

      @include tablet {
        margin-left: -80px;
        margin-top: -25px;

        @include desktop {
          margin-left: 0;
          margin: 15px;
        }
      }
    }

    p {
      margin: 11px 24px 0 24px;
      font-size: 15px;
      line-height: 25px;

      .illustrations__desktop {
        display: none;
      }

      @include tablet {
        margin-left: -80px;

        @include desktop {
          margin: 11px 15px 39px;

          .illustrations__tablet {
            display: none;
          }

          .illustrations__desktop {
            display: inherit;
          }
        }
      }
    }

    &:nth-child(1) {
      img {
        margin-top: 0;
        width: 66px;
        height: 80px;
        padding: 22px 24px 22px 30px;
        @include desktop {
          width: 88px;
          height: 106px;
          padding: 29px 32px 29px 40px;
        }
      }
    }

    &:nth-child(2) {
      img {
        width: 56px;
        height: 67px;
        padding: 28px 32px;
        @include desktop {
          width: 74px;
          height: 89px;
          padding: 38px 43px;
        }
      }
    }

    &:nth-child(3) {
      img {
        width: 60px;
        height: 71px;
        padding: 27px 30px;
        @include desktop {
          width: 80px;
          height: 94px;
          padding: 36px 40px;
        }
      }
    }

    &:nth-child(4) {
      img {
        width: 78px;
        height: 56px;
        padding: 34px 21px;
        @include desktop {
          width: 104px;
          height: 74px;
          padding: 45px 28px;
        }
      }
    }
  }
}
