.pricing {
  display: flex;
  flex-direction: column;
  margin: 144px 24px;
  align-items: center;
  @include tablet {
    margin: 144px 98px;
  }
  h4 {
    font-size: 18px;
  }

  .pricing__title {
    text-align: center;
    h2 {
      font-size: 24px;
      margin: 0 45px 27px;
    }

    p {
      margin: 0 0 56px;
      font-size: 15px;
      line-height: 25px;
    }
  }

  img:nth-child(1) {
    padding-left: 30px;
    margin-bottom: -27px;
  }

  .pricing__dip {
    margin-bottom: 32px;

    div {
      width: 327px;
      height: 436px;
      background-color: $secondary-color;
      border-radius: 10px;

      @include tablet {
        width: 445px;
        height: 448px;
      }

      h4 {
        padding: 49px 190px 19px 30px;
      }

      p {
        margin: 0 30px 26px;
      }

      h2 {
        font-size: 40px;
        margin: 0 210px 19px 30px;
      }

      ul {
        margin: 0 20px 32px;
        padding-left: 24px;
        li {
          color: $title-color;
          font-size: 15px;
          line-height: 25px;
          list-style-image: url("../assets/icons/icon-check-free.svg");
          padding-left: 8px;
          padding-bottom: 12px;
        }
      }
    }
  }

  .pricing__dive {
    color: $secondary-color;

    img {
      padding-left: 37px;
      margin-bottom: -35px;
    }

    div {
      width: 327px;
      height: 448px;
      background-color: $primary-color;

      @include tablet {
        width: 445px;
        height: 482px;
      }

      border-radius: 10px;

      h4 {
        padding: 49px 190px 19px 30px;
        color: $secondary-color;
        font-size: 18px;
      }

      p {
        margin: 0 30px 26px;
        color: $secondary-color;
        font-size: 15px;
        line-height: 25px;
      }

      h2 {
        display: flex;
        align-items: center;
        color: $secondary-color;
        font-size: 40px;
        margin: 0 210px 19px 30px;

        span {
          font-size: 15px;
          font-weight: $font-medium;
          margin-left: 7.5px;
          color: $secondary-color;
        }
      }

      ul {
        margin: 0 20px 32px;
        padding-left: 24px;
        li {
          color: $secondary-color;
          font-size: 15px;
          line-height: 25px;
          list-style-image: url("../assets/icons/icon-check.svg");
          padding-left: 8px;
          padding-bottom: 12px;
        }
      }
    }
  }
}
