@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;800&display=swap");
.hero {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .hero {
    margin-bottom: 100px;
  }
}

@media (min-width: 768px) {
  .hero .hero__banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 161px;
  }
}

@media (min-width: 768px) and (min-width: 1440px) {
  .hero .hero__banner {
    margin-bottom: 209px;
  }
}

@media (min-width: 768px) {
  .hero .hero__container {
    margin: 0 27px;
  }
}

@media (min-width: 768px) and (min-width: 1440px) {
  .hero .hero__container {
    margin-top: 64px;
  }
}

.hero .hero__mobile {
  width: 410px;
  height: 233px;
  margin: 0 35px 37.5px 0;
  line-height: 40px;
}

@media (min-width: 768px) {
  .hero .hero__mobile {
    display: none;
  }
}

.hero .hero__left {
  display: none;
}

@media (min-width: 768px) {
  .hero .hero__left {
    overflow: hidden;
    display: inherit;
  }
}

@media (min-width: 1440px) {
  .hero .hero__left {
    width: 408px;
    height: 459px;
    overflow: visible;
  }
}

.hero .hero__squiggle {
  display: none;
}

@media (min-width: 768px) {
  .hero .hero__squiggle {
    display: inherit;
    position: absolute;
    width: 386px;
    height: 268px;
    margin-left: 80px;
    top: 130px;
  }
}

@media (min-width: 768px) and (min-width: 1440px) {
  .hero .hero__squiggle {
    width: 544.31px;
    height: 377.98px;
    top: 200px;
    margin-left: 10%;
  }
}

.hero h1 {
  font-size: 32px;
  text-align: center;
}

.hero h1 #break {
  display: none;
}

.hero h1 span {
  color: #3ee9e5;
}

@media (min-width: 768px) {
  .hero h1 {
    margin: 0 10px;
  }
}

@media (min-width: 768px) and (min-width: 1440px) {
  .hero h1 {
    font-size: 48px;
    line-height: 56px;
  }
}

.hero p {
  margin: 24px 24px 32px;
  font-size: 15px;
  line-height: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

@media (min-width: 768px) {
  .hero p {
    margin: 24px 10px 32px;
  }
}

@media (min-width: 768px) and (min-width: 1440px) {
  .hero p {
    margin: 24px 10px 64px;
  }
}

.hero .hero__right {
  display: none;
}

@media (min-width: 768px) {
  .hero .hero__right {
    display: inherit;
    overflow: hidden;
  }
}

@media (min-width: 1440px) {
  .hero .hero__right {
    width: 396px;
    height: 444px;
    overflow: visible;
  }
}

.hero .hero__scroll {
  width: 26px;
  height: 42px;
  margin: 0 175px 144px 174px;
}

@media (min-width: 768px) {
  .hero .hero__scroll {
    margin-bottom: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: -100px;
  }
}

@media (min-width: 768px) and (min-width: 1440px) {
  .hero .hero__scroll {
    margin-top: -320px;
    padding-bottom: 209px;
  }
}

.illustrations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) {
  .illustrations .in {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: left;
    padding-left: 80px;
  }
  .illustrations .out {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: left;
    padding-right: 80px;
  }
}

@media (min-width: 768px) and (min-width: 1440px) {
  .illustrations {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0 165px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .illustrations .in {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .illustrations .out {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 110px;
    padding-right: 0;
  }
}

.illustrations div {
  text-align: center;
}

@media (min-width: 768px) {
  .illustrations div {
    text-align: left;
    margin-left: 0;
  }
}

.illustrations div img {
  background-color: #093f68;
  border-radius: 43px;
  margin: 56px 128px 32px;
}

@media (min-width: 768px) {
  .illustrations div img {
    margin-top: inherit;
    margin-left: 0;
  }
}

@media (min-width: 768px) and (min-width: 1440px) {
  .illustrations div img {
    margin: 0 0 48px -70px;
  }
}

.illustrations div h4 {
  font-size: 18px;
  margin: 0 24px;
}

@media (min-width: 768px) {
  .illustrations div h4 {
    margin-left: -80px;
    margin-top: -25px;
  }
}

@media (min-width: 768px) and (min-width: 1440px) {
  .illustrations div h4 {
    margin-left: 0;
    margin: 15px;
  }
}

.illustrations div p {
  margin: 11px 24px 0 24px;
  font-size: 15px;
  line-height: 25px;
}

.illustrations div p .illustrations__desktop {
  display: none;
}

@media (min-width: 768px) {
  .illustrations div p {
    margin-left: -80px;
  }
}

@media (min-width: 768px) and (min-width: 1440px) {
  .illustrations div p {
    margin: 11px 15px 39px;
  }
  .illustrations div p .illustrations__tablet {
    display: none;
  }
  .illustrations div p .illustrations__desktop {
    display: inherit;
  }
}

.illustrations div:nth-child(1) img {
  margin-top: 0;
  width: 66px;
  height: 80px;
  padding: 22px 24px 22px 30px;
}

@media (min-width: 1440px) {
  .illustrations div:nth-child(1) img {
    width: 88px;
    height: 106px;
    padding: 29px 32px 29px 40px;
  }
}

.illustrations div:nth-child(2) img {
  width: 56px;
  height: 67px;
  padding: 28px 32px;
}

@media (min-width: 1440px) {
  .illustrations div:nth-child(2) img {
    width: 74px;
    height: 89px;
    padding: 38px 43px;
  }
}

.illustrations div:nth-child(3) img {
  width: 60px;
  height: 71px;
  padding: 27px 30px;
}

@media (min-width: 1440px) {
  .illustrations div:nth-child(3) img {
    width: 80px;
    height: 94px;
    padding: 36px 40px;
  }
}

.illustrations div:nth-child(4) img {
  width: 78px;
  height: 56px;
  padding: 34px 21px;
}

@media (min-width: 1440px) {
  .illustrations div:nth-child(4) img {
    width: 104px;
    height: 74px;
    padding: 45px 28px;
  }
}

.pricing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 144px 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .pricing {
    margin: 144px 98px;
  }
}

@media (min-width: 768px) and (min-width: 1440px) {
  .pricing {
    margin: 200px 450px;
  }
}

.pricing h4 {
  font-size: 18px;
}

.pricing .pricing__title {
  text-align: center;
}

.pricing .pricing__title h2 {
  font-size: 24px;
  margin: 0 45px 27px;
}

@media (min-width: 1440px) {
  .pricing .pricing__title h2 {
    font-size: 32px;
  }
}

.pricing .pricing__title p {
  margin: 0 0 56px;
  font-size: 15px;
  line-height: 25px;
}

.pricing img:nth-child(1) {
  padding-left: 30px;
  margin-bottom: -27px;
}

@media (min-width: 1440px) {
  .pricing .pricing__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.pricing .pricing__dip {
  margin-bottom: 32px;
}

@media (min-width: 1440px) {
  .pricing .pricing__dip {
    margin-right: 30px;
    margin-top: 24px;
  }
}

.pricing .pricing__dip div {
  width: 327px;
  height: 436px;
  background-color: #093f68;
  border-radius: 10px;
}

@media (min-width: 768px) {
  .pricing .pricing__dip div {
    width: 445px;
    height: 425px;
  }
}

.pricing .pricing__dip div h4 {
  padding: 49px 190px 19px 30px;
  line-height: 25px;
}

.pricing .pricing__dip div p {
  margin: 0 30px 26px;
  line-height: 25px;
  color: #bbbfcc;
}

@media (min-width: 1440px) {
  .pricing .pricing__dip div p {
    margin: 0 0 26px 30px;
  }
}

.pricing .pricing__dip div h2 {
  font-size: 40px;
  margin: 0 210px 19px 30px;
}

.pricing .pricing__dip div ul {
  margin: 0 20px 32px;
  padding-left: 24px;
}

.pricing .pricing__dip div ul li {
  color: #ffffff;
  font-size: 15px;
  line-height: 25px;
  list-style-image: url("../assets/icons/icon-check-free.svg");
  padding-left: 8px;
  padding-bottom: 12px;
}

.pricing .pricing__dive {
  color: #093f68;
}

.pricing .pricing__dive img {
  padding-left: 37px;
  margin-bottom: -35px;
}

.pricing .pricing__dive div {
  width: 327px;
  height: 448px;
  background-color: #3ee9e5;
  border-radius: 10px;
}

@media (min-width: 768px) {
  .pricing .pricing__dive div {
    width: 445px;
    height: 449px;
  }
}

.pricing .pricing__dive div h4 {
  padding: 49px 190px 19px 30px;
  color: #093f68;
  font-size: 18px;
  line-height: 25px;
}

.pricing .pricing__dive div p {
  margin: 0 30px 26px;
  color: #093f68;
  font-size: 15px;
  line-height: 25px;
}

@media (min-width: 1440px) {
  .pricing .pricing__dive div p {
    margin: 0 34px 26px 33px;
  }
}

.pricing .pricing__dive div h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #093f68;
  font-size: 40px;
  margin: 0 210px 19px 30px;
}

.pricing .pricing__dive div h2 span {
  font-size: 15px;
  font-weight: 500;
  margin-left: 7.5px;
  color: #093f68;
}

.pricing .pricing__dive div ul {
  margin: 0 20px 32px;
  padding-left: 24px;
}

.pricing .pricing__dive div ul li {
  color: #093f68;
  font-size: 15px;
  line-height: 25px;
  list-style-image: url("../assets/icons/icon-check.svg");
  padding-left: 8px;
  padding-bottom: 12px;
}

.email {
  width: 100%;
  margin-bottom: 164px;
  text-align: center;
  background-image: url("../assets/squiggles/bg-footer-squiggle.svg");
  background-repeat: no-repeat;
  background-position: top 0 center;
  background-size: 150% auto;
  border: 0.1px solid transparent;
}

@media (min-width: 768px) {
  .email {
    background-position: top 0 right 0;
    background-size: 109% auto;
  }
}

@media (min-width: 768px) and (min-width: 1440px) {
  .email {
    background-position: top 4px right 0;
    background-size: 100%;
    padding-top: 60px;
  }
}

.email h3 {
  font-size: 24px;
  margin: 0 23.5px 31px;
}

@media (min-width: 768px) {
  .email h3 {
    margin-top: 40px;
  }
}

@media (min-width: 768px) and (min-width: 1440px) {
  .email h3 {
    font-size: 32px;
  }
}

.email .email__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.email .email__container .email__container--input {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.email .email__container .email__container--input h6 {
  position: absolute;
  font-size: 12px;
  line-height: 25px;
  color: #ff2965;
  padding-left: 20px;
  text-align: center;
  z-index: 1;
  margin-top: -3px;
}

@media (min-width: 768px) {
  .email .email__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 30px;
  }
}

.email .email__container .email--border {
  border-radius: 30px;
}

.email .email__container .email__container--1 {
  width: 327px;
  height: 48px;
  background-color: #093f68;
  text-align: left;
  text-indent: 18px;
  font-weight: 800;
  color: #ffffff;
}

@media (min-width: 768px) {
  .email .email__container .email__container--1 {
    width: 320px;
    height: 48px;
  }
}

.email .email__container .email__container--2 {
  background-color: #3ee9e5;
  color: #093f68;
  font-size: 15px;
  font-weight: 800;
  margin-top: 24px;
  width: 327px;
  height: 48px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

@media (min-width: 768px) {
  .email .email__container .email__container--2 {
    position: relative;
    width: 140px;
    height: 48px;
    margin-top: 0;
    margin-left: 16px;
  }
  .email .email__container .email__container--2:after {
    margin-bottom: 100px;
  }
}

.email .email__container .email__container--2:hover {
  background-color: #080c20;
  color: #ffffff;
  border: 2px solid #3ee9e5;
}

input {
  border-style: none;
}

.border--success {
  border: 2px solid #3ee9e5;
}

.border--error {
  border: 2px solid #ff2965;
}

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  font-family: "Manrope", sans-serif;
  color: #777f98;
  background-color: #080c20;
  font-weight: 500;
  overflow-x: hidden;
}

body h1,
body h2,
body h3,
body h4 {
  font-weight: 800;
  color: #ffffff;
}

header {
  margin: 40px 128px 65px;
}

header img {
  width: 120px;
  height: 35px;
}

@media (min-width: 768px) {
  header {
    margin: 48px 690px 70px 39px;
  }
}

@media (min-width: 768px) and (min-width: 1440px) {
  header {
    margin: 81px 1155px 114px 165px;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #777f98;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 20px;
}
/*# sourceMappingURL=styles.css.map */