@import "_global.scss";
@import "_hero.scss";
@import "_illustrations.scss";
@import "_pricing.scss";
@import "_email.scss";

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  font-family: $font;
  color: $paragraph-color;
  background-color: $bg-color;
  font-weight: $font-medium;

  h1,
  h2,
  h3,
  h4 {
    font-weight: $font-bold;
    color: $title-color;
  }
}

header {
  margin: 40px 128px 65px;

  @include tablet {
    margin: 48px 690px 70px 39px;
  }
}
